<div class="container footer-contact col-md-12 col-sm-12 col-xs-12">
  <div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="text-center">
          <b>Vous avez besoin d'aide ?
          </b> Contactez-nous au
          <a class ="footer-a" href="tel:00221338251825"> 
            <b>
              (+221) 33 825 18 25
            </b>
          </a> ou 
          <a class ="footer-a" href="mailto:your-email@your-domain.com">
            <b>contact@neticare.com</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-container container col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-3">
    <ul>
      <li class="footer-li-title hr-toctocdoc-tablet">TOCTOCDOC</li>
      <li class="footer-li"><a>A propos</a></li>
      <li class="footer-li"><a>Le concept</a></li>
      <li class="footer-li"><a>A propos de nous</a></li>
      <li class="footer-li"><a>FAQ</a></li>
    </ul>
  </div>
  <div class="col-md-9">
  </div>
    
</div>

<div class="container col-md-12 col-sm-12 col-xs-12 footer-copyright">
  <div class="col-md-4 col-md-offset-4">
      <span class="social-title">Suivez-nous</span>
      <i class="icon icon-facebook"></i>&nbsp;&nbsp;&nbsp;
      <i class="icon icon-twitter"></i>&nbsp;&nbsp;&nbsp;
      <i class="icon icon-linkedin"></i>&nbsp;&nbsp;&nbsp;
      <i class="icon icon-googleplus"></i>
  </div>
  <div class="text-center col-md-12  footer-credentials">
    Copyright © 2017 Neticare, tous droits réservés. <br>
    Neticoa, Rond-Point du Collège Sacré Coeur, Sacré Coeur 1 Dakar.<br><br>
    <a class="footer-a">Conditions générales d'utilisation</a> •
    <a class="footer-a">Politique relative à la protection des données personnelles</a>
    <a class="footer-a">Ordre National des Médecins </a>
  </div>
</div>


