
@font-face {
  font-family: "FuturaStdBold";
  src: url('/assets/FuturaStd-Bold.otf');
}

@font-face {
  font-family: "FuturaStdBook";
  src: url('/assets/FuturaStd-Book.otf');
}

@font-face {
  font-family: "FuturaStdMedium";
  src: url('/assets/FuturaStd-Medium.otf');
}