<head class="col-md-12 col-sm-12 top-header" id="top">
  <div class="header-container">
    <div class="row">
    <div class="panel header-logo">
      <a href="<%= root_path %>">
        <img class="img-responsive img-logo" src="../assets/senegal.png">
      </a>
    </div>
    <div class="header-content">
      <a id="nav-open-btn" class="nav-btn visible-phone" href="#nav" title="Menu">
      </a>
      <div class="header-menu">
        <nav id="nav" role="navigation">
          <a id="nav-close-btn" href="#top" title="Retour au contenu">
          </a>
          <div class="first-menu">
            <ul>
              <li class="first">
                <a href="<%= new_user_session_path %>" title="Accès propriétaire">
                  <span class="ico-acces-pro"></span> Mon compte
                </a>
              </li>
              <li>
                <a href="#contact" title="nos contacts">Contact</a>
              </li>
               <li>
                <a href="#contact" title="nos contacts">Alert-Email</a>
              </li>
               <li>
                <a href="#contact" title="nos contacts">Le blog immobilier</a>
              </li>
              <li class="maselection">
                <a href="#maselection" title="votre selection de bien"> Ma Selection
                  <span id="NbBienSel" class="header-maselection-nb">0</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="div-marquee wrap">
            <ul class="marquee" data-direction="top" data-speed="25" data-duration="2500">
              <li>Bienvenue dans notre plateforme</li>
            </ul>
          </div>
          <div class="second-menu">
            <ul>
              <li>
                <a href="#root_path">
                 <img class="img-responsive img-seneg" src="../assets/senegal.png">
                </a>
              </li>
              <li>
                <a href="#connexion" title="Accès propriétaire">
                  <span class="ico-acces-pro"></span> Le Réseau
                </a>
              </li>
              <li>
                <a href="#contact" title="nos contacts">Nos Services</a>
              </li>
               <li>
                <a href="#contact" title="nos contacts">Deposer votre annonce</a>
              </li>
               <li>
                <a href="#contact" title="nos contacts">Estimation</a>
              </li>
              <li class="maselection">
                <a href="#maselection" title="votre selection de bien"> Accès Rapide
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    </div>
  </div>
</head>